.background-nav {
    background-color: lightgray;
    align-items: center;
    height: 10%;
  }
  .padding {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  html,
  body {
    font-family: 'Ubuntu', sans-serif;
    color: #5E6164;
    background: #959595;
    background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
    background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 );
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Russo One', sans-serif;
    color: #23293B;
  }
  h2 {
    font-size: 3.2rem;
    text-shadow: 0 0 3px white, 0 0 5px #0000FF;
    font-family: 'Share', cursive;
  }
  h3 {
    font-size: 2.8rem;
    text-shadow: 0 0 3px white, 0 0 5px #0000FF;
    font-family: 'Share', cursive;
  }

  .profile{
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 10%;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.4;
    color: white;
  }
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  .page-top {
    width: 100%;
  }
  .page-top h1 {
    background: #f2f5f6;
    background: -moz-linear-gradient(-45deg, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-linear-gradient(-45deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: linear-gradient(135deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 );
    align-items: center;
    height: 10%;
    text-align: center;
    font-size: 5rem;
    padding-top: 1%;
    padding-bottom: 1%;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-family: 'Days One', sans-serif;
  }
  .page-top nav {
    background: #f2f5f6;
    background: -moz-linear-gradient(-45deg, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-linear-gradient(-45deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: linear-gradient(135deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 );
    align-items: center;
    height: 10%;
    display: flex;
    width: 100%;
  }
  .page-top nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 1%;
    justify-content: space-between;
  }
  .page-top nav ul li {
    font-size: 1.5rem;
    margin-left: 10px;
  }
.top-pic{
    width: 30%;
    height:40%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

  footer {
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .intro .header-img {
    display: flex;
    width: 100%;
  }
  @media (max-width: 500px) {
    .home .intro .header-img {
      width: 480px;
      justify-content: center;
    }
  }
  .home .intro .header-img img {
    justify-content: center;
  }
  .home .intro h2 {
    padding: 15px;
  }
  .home .intro p {
    padding: 0 15px;
  }
  .home .lunch-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .home .lunch-images img {
    width: 28%;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
  }
  @media (max-width: 500px) {
    .home .lunch-images .eating {
      width: 480px;
      height: 240px;
    }
  }
  @media (max-width: 500px) {
    .home .lunch-images .lunchbox {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .home .lunch-images .money {
      display: none;
    }
  }
  .home .solution {
    padding: 15px;
    border: 2px solid white;
    border-radius: 7px;
  }
  .home .solution h3 {
    margin-top: 11px;
  }
  .home .solution p {
    margin-top: 13px;
  }
  .home .walk {
    margin-top: 60px;
    border-top: 1px solid #dee2e6;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 7px;
    margin-bottom: 10%;
  }
  .home .walk .walk-text {
    width: 50%;
  }
  .home .walk .walk-text h3 {
    margin-bottom: 10px;
  }
  .home .walk .walk-text p {
    margin-bottom: 26px;
  }
  .home .walk .walk-text .btn button {
    background-color: rgb(165, 65, 165);
    color: white;
    border-radius: 6px;
    font-size: 1.5rem;
    width: 150px;
    height: 40px;
  }
  .home .walk .walk-text .btn button:hover {
    background-color: white;
    color: darkblue;
  }
  
  }
  .home .walk .walk-text .walk-img {
    width: 46%;
    margin-left: 4%;
  }
  @media (max-width: 500px) {
    .home .walk .walk-text .walk-img {
      width: 480px;
      height: 240px;
      justify-content: flex-start;
    }
  }
  .home .walk .walk-text .walk-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .donors{
      display: flex;
      width:100%;
      height: 100%;
      padding-left: 20%;
  }

  footer p{
      color: #010101
  }

  input, legend, select {
    font-size: 3.2rem;
    text-shadow: 0 0 3px white, 0 0 5px #0000FF;
    font-family: 'Share', cursive;
  }

  .huncho{
      display: flex;
      flex-direction: column;
  }

.launch{
    padding-bottom: 8%;
}

  .launch2{
    border-top: 4px solid violet;
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .profile{
      display: flex;
      flex-direction: row;
  }

  .two{
      padding: 10% 30%;
      padding-bottom: 5%;
      padding-right: 15%;
  }
 .dimg img{
     height: 80%;
 }
 
 select{
     margin-bottom: 3%;
     margin-top: 4%;
 }

 table{
     color: white;
     font-size: 1.3rem;
 }